body {
  position:  absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #C5FFF1;
}

#header {
  height: 100px;
  width: 8.5cm;
  position: fixed;
  background: #FEBDD3;
  z-index: 1;
}

.headerBottom{
  height: 80px;
  width: 80px;
  top: 10px;
  position: absolute;
  z-index: 3;
} 

#seach {
    left: 10px;
    background: url("https://lmar.com.ua/5185-large_default/lupa-75-mm.jpg");
    z-index: 3;
} 

#settings {
    right: 10px; 
    background: url("https://lmar.com.ua/5185-large_default/lupa-75-mm.jpg");  
}

.friends {
  float: left; 
  width: 8cm; 
  height: 100%;
  margin-top: 100px;
  display: inline-block;
  background: #C5FFF1;
  overflow: scroll;
  padding: 10px;
  z-index: 1;
} 

.friendAvatar {
  height: 2cm;
  width: 2cm;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.friendName {
  left: 7px;
  top: -0.9cm;
  height: 1cm;
  width: 5cm;
  display: inline-block;
  position: relative;
  z-index: 2;
}  

.chat {
  display: inline-block;
  position:  relative;
  overflow: auto;
  padding: 20px;
}

#footer { 
    width: 70%;
    height: 80px;
    font-size: 1cm;
    margin: 0;
    position: fixed;
    bottom: 0;
    display: block;
}

.footerBottom {
    position: absolute;
	height: 73px;
}

#plus {
    width: 73px;
} 

#footer_letter {
	width: 15%;
	right: 2px;
}

.text {
	left: 80px;
	width: 75%;
	height: 73px;
	font-size: 0.9cm;
	position: absolute;
	bottom: 5px;
    resize: none;
    overflow: auto;
}


  

 
