body {
  position:  absolute;
  width: 100%; 
  height: 100%; 
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.chat {
	float: left; 
	width: 33%; 
	height: 100%;    
  display:inline-block;
  background: #C5FFF1;
  overflow: auto;
}

.library {
  float: left; 
  width: 67%; 
  height: 100%;    
  display:inline-block;
  background: #FEBDD3;
  overflow: auto;
}

.picta {
  width: 70%; 
  margin-left: 12%;
  border-style: ridge;
}

.pict{
    max-width: 30%; 
    width: 250px; 
    height: 250px;
    position: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

img.pict {
    border-width: 2px; 
    border-color: black;
    border-style: solid;
}

.exit { 
  height: 2cm;
  width: 2cm;
  right: 2%;
  bottom: 2%;
  position: fixed;
  background: url('/stylesheets/symbols/cross.png'); 
  background-size: 100% 100%;
}

#header {
	width: 33%;
	height: 100px;
	margin: 0; 
	position: absolute;
	top: 0;
    background: #FEBDD3;
}

#middle {
   width: 33%;
   margin: 0; 
   position: absolute;
   bottom: 60px;
   top: 100px;
   overflow: auto;
}

.avatar {
	width: 96px;
    height: 96px;
	position: absolute;
	top: 2px;
}

.abonentID {
     display: none;
}

#friend {left: 2px;}
#me {right: 2px;}

#chat {
	width: 33%;
	height: 60px;
	font-size: 1cm;
	margin: 0; 
	position: fixed;
	bottom: 0;
    background: #C5FFF1;
}

.text {
	width: 75%;
	height: 53px;
	font-size: 0.9cm;
	position: absolute;
	bottom: 0;
    resize: none;
    overflow: auto;
}

#footer_letter {
	position: absolute;
	height: 53px;
	width: 23%;
	right: 2px;
    background: url('/stylesheets/symbols/letter.png'); 
    background-size: 100% 100%;
    display: inline-block;
}

.folder { 
  background: url('/stylesheets/symbols/folder.png');
  background-size: 100% 100%; 
  border: 0;  
}

.libraryName {
    display: block;
    margin-left: 10%;
    border-style: ridge;
    width: 70%;
	height: 1cm;
	font-size: 0.85cm;
	text-align: center;
    position: relative;
    margin-top: -5%;
}

.box {
    display: inline-block;
    width: 50%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.out{
  display: flex;
  justify-content: flex-end;
  background: #19c6ff;
  margin: 10px;
  margin-top: 12px;
  position: relative;
  height: auto;
}

.in {
  display: flex;
  justify-content: flex-start;
  background: white;
  margin: 10px;
  position: relative;
  height: auto;
  border: 3px solid #19c6ff;
}

.textm {
  padding: 10px;
  vertical-align: baseline;
  border-radius: 7.5px;
  max-width: 75%;
  font-size: 0.6cm;
}

.image {
  padding: 12px;
  border-radius: 7.5px;
}

img.picture {
    width: 200px;
    height: auto;
}

.message_in {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-start;
}

.message_out {
  display: flex;
  width: 100%;
  height: auto;
 justify-content: flex-end;
}

.inmessage {
    display: block;
}