body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;    
}

footer {
	height: 100px;
    width: 100%;
	margin: 0; 
	position: absolute;
	bottom: 0;
    background: #C5FFF1;
}

.exit {
    height: 2cm;
	width: 2cm;
	right: 2%;
	bottom: 2%;
    position: fixed;
    background: url('/stylesheets/symbols/cross.png');
    background-size: 100% 100%;
}    

.entrance {
	height: 0.7cm;
	font-size: 0.6cm; 
    margin-left: 20px;
    resize: none;
    overflow: hidden;
    
}

#bottom {
    text-align: center;
    margin-top: 25px; 
    width: 60%;
    margin-left: 9%;
}

#textarea {
    margin-top: -10px; 
    width: 70%;    
}