body { 
    margin: 0;
    background: WHITE;
}

.form {
    left: 10%;
    height: 50%;
    width: 40%;
    top: 50px;   
    display: block; 
    position: absolute;    
 }
 
.entrance {
	height: 0.7cm;
	font-size: 0.6cm; 
    margin-left: 20px;
    resize: none;
    overflow: hidden
    
}

#bottom_entrance {
    text-align: center;
    margin-top: 25px; 
    width: 250px;
}

#textarea_entrance {
    margin-top: -10px; 
    width: 250px;    
}
img {
    border-color: grey; 
} 

a {
    text-decoration: none;
    border-width: 0;
} 