extends layout
 
block content
  link(rel='stylesheet', href='/stylesheets/admin.css')
  h3 Пользователи:
  table(cols = "7", border = "2" )
    tr
      td Фамилия
      td Имя
      td Учреждение
      td Почта
      td Логин
      td Пароль
      td.delete Удалить
  table(cols = "7", border = "2" )
    each user in users
      tr
        td 
          input.user(type = 'textarea' value = user.name)
        td 
          input.user(type = 'textarea' value = user.surname)
        td 
          input.user(type = 'textarea' value = user.institution)
        td 
          input.user(type = 'textarea' value = user.email)
        td 
          input.user(type = 'textarea' value = user.login)
        td 
          input.user(type = 'textarea' value = user.password)
        td.delete 
          button.delete Удалить
  button.finish Сбросить изменения
  button.finish Сохранить изменения
  button.finish Добавить пользователя