extends layout
 
block content
  link(rel='stylesheet', href='/stylesheets/admin.css')
  h3 Пользователи:
  table(cols = "7", border = "2" )
    tr
      td Фамилия
      td Имя
      td Учреждение
      td Почта
      td Логин
      td Пароль
      td.delete Удалить
  table(cols = "7", border = "2" )
    form
      each user in users
        tr
          td 
            input.user(type = 'text' value = user.name)
          td 
            input.user(type = 'text' value = user.surname)
          td 
            input.user(type = 'text' value = user.institution)
          td 
            input.user(type = 'text' value = user.email)
          td 
            input.user(type = 'text' value = user.login)
          td 
            input.user(type = 'text' value = user.password)
          td.delete 
            button.delete Удалить
  button.finish Добавить пользователя
  
  .pictograms
    each pictogram in pictograms 
      .box
        img.pict(src= '/stylesheets/pictograms/' + pictogram.librery + '/' + pictogram.link + '.png')
        button.dpict Удалить        
    .box
      button.dpict Добавить

  .footer
    button.finish Сбросить изменения
    button.finish Сохранить изменения