extends library

block div
  .library
     each library in libraries
      .box
        a(href= library.href)
          img.picta.folder(src= library.img)
          p.libraryName.tc= library.name
  footer
    a(href='/friends')  
      .exit