extends library

block div
  .library
    a(href='/questions')
      img.picta(scr='k.jpg')
    a(href='/answers')
      img.picta(scr='k.jpg')
    a(href='/stickers')  
      img.picta(scr='k.jpg')
    a(href='/downloads')  
      img.picta(scr='k.jpg')
  footer
    a(href='/friends')  
      img.exit(scr='symbols/letter.png')