extends layout
  
block content
  link(rel='stylesheet', href='/stylesheets/friends.css') 
  .friends
    each friend in friends
      .box
        a(href= friend.page)
          .img.friendAvatar(scr= friend.avatar)
          input.friendName#1(type = 'textarea' value = friend.name readonly window.onload = 'text_color(id, value)')

  .menu
    .img.menuIMG
    input.menuName(type = 'textarea' value = 'ИМЯ' readonly)
    a(href='/seach')
      .img.menuIMG#seach
    .img.menuIMG
    a(href='/settings')
      .img.menuIMG      
    a(href='/')
      input.bottom(type = 'bottom' value= 'ВЫХОД')      