extends layout

block content
  link(rel='stylesheet', href='/stylesheets/full.css')
  #header
    .headerBottom#seach      
      a(href="#")
    .headerBottom#settings
      a(href="#")
  .friends
      a(href='/full_1')
        img.friendAvatar(scr="C:\\Users\\roman\\EMO\\app_server\\views\\symbols\\lupa.png")
        input.friendName(type = 'text' value = 'ИМЯ' readonly)  
      a(href='/full_1')
        img.friendAvatar(scr='k.jpg')
        input.friendName(type = 'text' value = 'ИМЯ' readonly)  
      a(href='/full_1')
        img.friendAvatar(scr='k.jpg')
        input.friendName(type = 'text' value = 'ИМЯ' readonly)  

  block chat
