doctype html
html
  head
    title= title
    meta(charset= "utf-8")
<<<<<<< HEAD
    script(src= '/stylesheets/style.js') 
=======
    script(src = '/public/stylesheets/style.js')
>>>>>>> 75c7796ca83a76f2212a802da599cf275ee4f06d
  body
    block content
