extends layout
 
block content
  link(rel='stylesheet', href='/stylesheets/library.css')
  .chat
    #header
      img.avatar#friend(scr='k.jpg')
      img.avatar#me(scr='k.jpg')
    #middle
    #chat
      img#plus(scr='/app_server/views/symbols/letter.png')
      textarea.text(value = "" onсlick = 'text_color(id, value)')
      img#footer_letter(scr='/app_server/views/symbols/letter.png')
  block div  