extends layout
 
block content
  link(rel='stylesheet', href='/stylesheets/library.css')
  .chat
    #header
      img.avatar#friend(src= friend_avatar)
      img.avatar#me(src= user_avatar)
    #middle
    #chat
      img#plus
      textarea.text(value = "" onÑlick = 'text_color(id, value)')
      #footer_letter
  block div  