extends library

block div
  .library
    img.picta(scr='k.jpg')
    img.picta(scr='k.jpg')
    img.picta(scr='k.jpg')
    img.picta(scr='k.jpg')
    img.picta(scr='k.jpg')
    img.picta(scr='k.jpg')
    img.picta(scr='k.jpg')
    img.picta(scr='k.jpg')
  footer
    a(href='/library')  
      img.exit(scr='symbols/cross.png')