extends library

block div
  .library
    each pictogramma in pictograms
      img.picta(scr= pictogramma.img)
  footer
    a(href='/library')  
<<<<<<< HEAD
      img.exit(scr="/symbols/cross.png")
=======
      img.exit(scr='/app_server/views/symbols/cross.png')
>>>>>>> feb8ff975b1dd3c7c709566396599271f330b19e
