extends layout

block content
  link(rel='stylesheet', href='/stylesheets/seach.css')
  form
    p.tc ПОИСК: 
      p.entrance.tc Имя:
      input.entrance#textarea(type='text', name='firstName', value = "")
      p.entrance.tc Фамилия:
      input.entrance#textarea(type='text', name='lastName', value = "") 
      p.entrance.tc Учреждение:
      select.entrance#textarea(size = 5, name='institution')
        option.tc ЦССВ "Вера. Надежда. Любовь"     
      button.entrance.tc#bottom(type = 'submit') ИСКАТЬ
  footer
    a(href='/friends')  
      .exit