extends layout

block content
  link(rel='stylesheet', href='/stylesheets/settings.css')
  h2 НАСТРОЙКИ
  a(href='/full')
    p перейти на полную версию
  footer
    a(href='/friends')  
      img.exit(scr='symbols/cross.png')