extends layout
  
block content
  link(rel='stylesheet', href='/stylesheets/start.css') 
  .form        
    form 
      p.entrance Введите логин:
      textarea.entrance#textarea_entrance(value = "")
      p.entrance Введите пароль:
      textarea.entrance#textarea_entrance(value = "")
      a(href='/friends')
        input.entrance#bottom_entrance(type = 'bottom' value= 'ВХОД' readonly)      